{% extends 'connect/login-layout.html' %}
{% block content1 %}
<ul class="navbar-nav navbar-nav-hover align-items-lg-center">
	<li class="nav-item dropdown">
		<a href="{% url 'connect:logout' %}" class="nav-link"  role="button">
			<span class="nav-link-inner--text">Logout</span>
		</a>
	</li>
</ul>
{% endblock %}

{% block table %}

<h4>Hey  {{request.session.ip}}  !!</h4>
<h5>YOU ARE CURRENTLY CONTRIBUTING</h5>
<button onclick="myFunction()">Click me</button>
<a href="/media/check.pdf" >see file</a>
<a href="{% url 'connect:download' %}">download</a>
<button onclick="readFile()">Open file</button>
<p id="demo"></p>
<script>
	function myFunction() {
		document.getElementById("demo").innerHTML = "Hello World";
	}
	function readFile() {
		var txt = '';
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function(){
			if(xmlhttp.status == 200 && xmlhttp.readyState == 4){
				txt = xmlhttp.responseText;
				document.getElementById("demo").innerHTML = txt;
			}
		};
		xmlhttp.open("GET","check.pdf",true);
		xmlhttp.send();
	}

</script>

{% endblock %}